<header class="page-header">
    <h2>{{position}} hand range</h2>
</header>

<table class="table hover">
    <tr>
        <td><hand-chart hand-range="handRange" callback="rangeArrayChanged()"></hand-chart></td>
        <td>
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Position
                </a>
                <a href="#" class="list-group-item" ng-click="position='UTG'">UTG</a>
                <a href="#" class="list-group-item" ng-click="position='UTG+1'">UTG+1</a>
                <a href="#" class="list-group-item" ng-click="position='MP'">MP</a>
                <a href="#" class="list-group-item" ng-click="position='MP+1'">MP+1</a>
                <a href="#" class="list-group-item" ng-click="position='MP+2'">MP+2</a>
                <a href="#" class="list-group-item" ng-click="position='CO'">CO</a>
                <a href="#" class="list-group-item" ng-click="position='Button'">Button</a>
                <a href="#" class="list-group-item" ng-click="position='SB'">SB</a>
                <a href="#" class="list-group-item" ng-click="position='BB'">BB</a>
            </div>

        </td>
    </tr>
</table>
<div class="col-xs-4">
    <input type="text" ng-model="handRangeStr" ng-focus="editingRangeStr=true" ng-blur="editingRangeStr=false"  class="form-control"/>
</div>

<br/>

<button class="btn btn-primary" ng-click="addRange()">Save</button>
