<header class="page-header">
    <h2>Preflop Hand Ranges</h2>
</header>

<table class="table table-striped">
    <tr>
        <th>Position</th>
        <th>Game</th>
        <th>Action</th>
    </tr>
    <tr ng-repeat="row in preflopHandRanges">
        <td>{{row.position}}</td>
        <td>{{row.game}}</td>
        <td>
          <button class="btn btn-github" ng-click="editRange(row._id)"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
          <button class="btn btn-google-plus" ng-click="deleteRange(row._id)"><span class="glyphicon glyphicon-remove"></span> Delete</button>
        </td>
    </tr>
</table>
<button class="btn btn-primary" ng-click="createNewRange()"><span class="glyphicon glyphicon-plus"></span> Add Range</button>

