<header class="page-header">
    <h2>{{position}} hand range in {{game}}</h2>
</header>

<table>
    <tr>
        <td>
          <select ng-model="$parent.game" ng-init="$parent.game = $parent.game || games[0]" class="form-control">
            <option ng-repeat="game in games" value="{{game}}">{{game}}</option>
          </select>
        </td>
        <td>
          <select ng-init="$parent.position = $parent.position || seats[game][0]" ng-model="$parent.position" ng-options="o as o for o in seats[game]" class="form-control">
          </select>
        </td>

    </tr>
    <tr>
        <td colspan="2"><hand-chart hand-range="handRange" callback="rangeArrayChanged()"></hand-chart></td>
    </tr>
</table>
<div class="col-xs-4">
    <input type="text" ng-model="handRangeStr" ng-focus="editingRangeStr=true" ng-blur="editingRangeStr=false"  class="form-control"/>
</div>

<br/>

<button class="btn btn-primary" ng-click="addRange()">Save</button>
