<header class="page-header">
    <h2>Scenarios</h2>
</header>

<table class="table table-striped">
    <tr>
        <th>Scenario</th>
        <th>Game</th>
        <th>Action</th>
    </tr>
    <tr ng-repeat="row in scenarios">
        <td>{{row.hero_seat}} vs {{row.villain_seat}} {{row.short_summary}}</td>
        <td>{{row.game}}</td>
        <td>
          <button class="btn btn-github" ng-click="addAction(row._id)"><span class="glyphicon glyphicon-plus"></span> Add Action</button>
          <button class="btn btn-github" ng-click="editScenario(row._id)"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
          <button class="btn btn-google-plus" ng-click="deleteScenario(row._id)"><span class="glyphicon glyphicon-remove"></span> Delete</button>
        </td>
    </tr>
</table>
<button class="btn btn-primary" ng-click="createNewScenario()"><span class="glyphicon glyphicon-plus"></span> New Scenario</button>

